
$o-stepped-progress-is-silent: false;

@import '../../main';

body {
	@include oColorsFor('page', 'background');
	margin: 1em;
}

.demo-container {
	margin-bottom: 2em;
	max-width: 600px;
}
.demo-container:last-of-type {
	margin-bottom: 0;
}

.edit-icon {
	@include oIconsGetIcon(
		$icon-name: 'edit',
		$container-width: 20px,
		$color: #000
	);
	vertical-align: middle;
}
